* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1em;
    font-size: 1em;
}

@font-face {
    font-family: "got";
    src: url("../font/got.ttf")
}
@font-face {
    font-family: "magik";
    src: url("../font/magik.TTF")
}

body {
    background: lightgray;
    font-family: sans-serif;
}

.sheet {
    background: rgb(180,180,180);
    box-shadow: 0 0 5px black;
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.sheet.no-bg {
    background: white;
}

.sheet.no-bg .bg {
    display: none;
}

.sheet.no-bg .ruban {
    display: none;
}

.inner-sheet {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
}

#switch-blason {
    position: absolute;
    top: -30px;
    left: -30px;
}

.bg {
    filter: grayscale(100%) invert(100%) brightness(80%);
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.ruban {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    z-index: 0;
}

.ruban img {
    width: 85%;
    height: 70px;
    display: block;
    margin: 0 auto;
    margin-bottom: -5px;
    opacity: .7;
}

.au, .crep, .la, .justice, .hurle {
    position: absolute;
    font-family: "magik";
    bottom: 10px;
    left: 0;
    right: 0;
    font-size: 25px;
    color: #424242;
    display: block;
}

.au {
    left: 200px;
    bottom: 40px;
    transform: rotate(-4deg);
}

.crep {
    left: 250px;
    bottom: 18px;
    transform: rotate(2deg);
}

.la {
    left: 349px;
    bottom: 5px;
    transform: rotate(5deg);
}

.justice {
    left: 386px;
    bottom: 6px;
    transform: rotate(4deg);
}

.hurle {
    left: 450px;
    bottom: 14px;
}

@media print {
    .sheet {
        margin: 0;
    }

    #switch-blason {
        display: none;
    }
}

/* ------------------
    Recto
 * ------------------ */

.name {
    position: absolute;
    width: 470px;
    height: 50px;
    display: table;
    overflow: hidden;
    text-align: left;
}

.name-content {
    display: table-cell;
    vertical-align: middle;
    color: black;
    font-size: 40px;
    font-family: "magik";
    text-align: center;
    padding-left: 20px;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
    opacity: .9;
    z-index: 1;
}

td:hover {
    cursor: pointer;
}

table td {
    border: 1px solid black;
    background: white;
    padding: 5px;
    font-size: 10px;
    text-align: center;
    font-family: "magik";
}

table tr:first-child td {
    border-top: 2px solid black;
}

table tr td:first-child {
    border-left: 2px solid black;
}

table tr td:last-child {
    border-right: 2px solid black;
}

table tr:last-child td {
    border-bottom: 2px solid black;
}

table tr.t-header td {
    background: black;
    color: lightgray;
    padding: 1px;
    font-size: 16px;
}

table td select {
    display: inline-block;
    width: 100%;
    background: transparent;
    border: none;
    font-size: 14px;
    font-family: "magik";
}

.house-exp {
    position: absolute;
    right: 0;
    top: 189px;
    width: 242px;
}

.house-exp td {
    font-size: 14px;
}

.house-exp td:nth-child(3), .house-exp td:nth-child(4) {
    width: 30%;
}

.skill-val {
    position: absolute;
    border: none;
    background: none;
    display: block;
    width: 105px;
    z-index: 2;
    text-align: center;
    font-size: 25px;
    font-family: "magik";
}

.skill-val.skill2-val {
    width: 94px;
}

.skill-adjustement {
    height:22px;
}

#agility { top: 118px; left: 2px; height: 74px; line-height: 74px;}
#militar { top: 214px; left: 2px; height: 44px; line-height: 44px; }
#athl    { top: 280px; left: 2px; height: 89px; line-height: 89px; }
#know    { top: 392px; left: 2px; height: 44px; line-height: 44px; }
#coc     { top: 459px; left: 2px; height: 134px; line-height: 132px; }
#disc    { top: 616px; left: 2px; height: 29px; line-height: 29px; }
#dress   { top: 668px; left: 2px; height: 59px; line-height: 59px; }
#dup     { top: 750px; left: 2px; height: 59px; line-height: 59px; }
#end     { top: 832px; left: 2px; height: 29px; line-height: 29px; }

#ing     { top: 118px; left: 238px; height: 44px; line-height: 44px; }
#lang    { top: 184px; left: 238px; height: 59px; line-height: 59px; }
#larc    { top: 265px; left: 238px; height: 44px; line-height: 44px; }
#pers    { top: 331px; left: 238px; height: 104px; line-height: 104px; }
#heal    { top: 457px; left: 238px; height: 44px; line-height: 44px; }
#status  { top: 523px; left: 238px; height: 59px; line-height: 59px; }
#sur     { top: 604px; left: 238px; height: 59px; line-height: 59px; }
#tir     { top: 685px; left: 238px; height: 59px; line-height: 59px; }
#vig     { top: 766px; left: 238px; height: 29px; line-height: 29px; }
#will    { top: 817px; left: 238px; height: 44px; line-height: 44px; }

.skills {
    position: absolute;
    left: 0;
    top: 74px;
    width: 32%;
}

.skills-2 {
    left: 33%;
}

.skills td {
    font-size: 12px;
    padding: 1px;
}

.skills .t-header td {
    padding: 2px;
    font-size: 16px;
}

.skill td {
    font-size: 16px;
    padding: 2px;
}

.skill td:nth-child(1) {
    border-right: 1px solid white;
}
.skill td:nth-child(2) {
    border-right: 1px solid white;
}
.skill td:nth-child(2), .skill td:nth-child(3) {
    border-left: 1px solid white;
}

.ability td:nth-child(1) {
    border-bottom: 1px solid white;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    background-color: #fafafa;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 6px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background: black;
}

.stat-box .stat td {
    font-size: 12px;
    text-transform: none;
    padding: 1px;
}

.stat-box .score td {
    font-size: 17px;
    padding: 5px;
}

.picture, .intrigue, .defense, .armor, .damage, .lesions, .blessures, .weapons {
    position: absolute;
    right: 0;
    width: 242px;
}

.picture {
    top: -15px;
}

.intrigue {
    top: 329px;
}

.defense {
    top: 400px;
}

.armor {
    top: 483px;
}

.armor select {
    height: 19px;
}

.damage {
    top: 585px;
}

.lesions {
    top: 676px;
}

.blessures {
    top: 767px;
}

.weapons {
    width: 100%;
    top: 871px;
}

.weapons td {
    line-height: 20px;
    padding:1px;
    font-size: 14px;
}

.weapons tr td:nth-child(1) {
    width: 150px;
}

.weapons tr td:nth-child(2) {
    width: 90px;
}

.weapons tr td:nth-child(3) {
    width: 90px;
}

.weapons tr td:nth-child(4) {
    width: 50px;
}

.picture td {
    height: 197px;
    font-size: 16px;
}

.intrigue td:nth-child(2), .defense td:nth-child(2) {
    width: 32%;
}

.damage .checkers-row,
.lesions .checkers-row,
.blessures .checkers-row {
    height: 18px;
}


/* --------------
    Verso
 * -------------- */

.equipment td, .haut-fait td, .allies td, .enemis td, .richesse td {
    padding: 2px;
    font-size: 16px;
}

.equipment {
    position: absolute;
    top: 0;
    left: 0;
    width: 49.5%;
}

.haut-fait {
    position: absolute;
    top: 0;
    right: 25%;
    width: 24.25%;
}

.richesse {
    position: absolute;
    top: 0;
    right: 0;
    width: 24.25%;
}

.allies {
    position: absolute;
    top: 178px;
    right: 25%;
    width: 24.25%;
}

.enemis {
    position: absolute;
    top: 178px;
    right: 0;
    width: 24.25%;
}

.richesse tr.t-header td {
    padding: 1px;
    font-size: 16px;
    text-align: center;
}

.richesse td {
    text-align: left;
    padding: 3px;
}

.richesse td:nth-child(2) {
    width: 30%;
}

.richesse tr:last-child td:nth-child(2) {
    padding: 7px;
}

.rules-combat ul,
.rules-combat ol,
.rules-intrigue ul,
.rules-intrigue ol {
    padding-left: 20px;
}

.rules-combat ul li,
.rules-combat ol li,
.rules-intrigue ul li,
.rules-intrigue ol li {
    padding: 2px;
    font-size: 14px;
    text-align: left;
}

.rules-combat h2,
.rules-intrigue h2 {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
}

.rules-combat table tr td,
.rules-intrigue table tr td {
    font-size: 14px;
    padding: 2px 3px;
}

.rules-combat table tr td:nth-child(3),
.rules-intrigue table tr td:nth-child(3) {
    text-align: left;
}

.rules-combat {
    position: absolute;
    top: 491px;
    left: 0;
    width: 49.5%;
}

.rules-intrigue {
    position: absolute;
    top: 376px;
    right: 0;
    width: 49.5%;
}

.rules-intrigue table {
    width: 100%;
}

.rules-intrigue table td:nth-child(2),
.rules-intrigue table td:nth-child(3),
.rules-intrigue table td:nth-child(4) {
    text-align: left;
}

input[type="file"], #input-show-picture {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    max-width: 242px;
    max-height: 180px;
}

#remove-picture-button {
    border: 1px solid black;
    background-color: red;
    color: #ffffff;
    padding: 5px 10px;
    position:absolute;
    top:0;
    right:0;
}